.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColorDeam);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
}

.logo > h1 {
  color: var(--blackColor);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.mainIcon {
  font-size: 31px;
  color: var(--primaryColor);
  transform: translateY(5px);
}

@media screen and (max-width: 768px) {
  .navBar {
    position: absolute;
    background: var(--whiteColorDeam);
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 20, 0.904);
    transition: 0.5s ease-in-out;
  }

  .activeNavBar {
    top: 7rem;
  }

  .navList {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }

  .navItem {
    padding: 0.5rem 0;
  }

  .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
    &:hover {
      color: var(--primaryColor);
    }
  }

  .navbarBtn {
    margin-top: 1rem;
  }

  .navbarBtn > a {
    font-weight: 600;
    color: var(--whiteColor);
  }

  .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--primaryColor);
  }

  .closeNavbar:hover {
    color: var(--secondaryColor);
  }
}

.toggleNavbarIcon {
  font-size: 25px;
  color: var(--primaryColor);
}

.toggleNavbarIcon:hover {
  color: var(--secondaryColor);
}

@media screen and (min-width: 769px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .navList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .navLink {
    color: var(--textColor);
    padding: 0 0.1rem 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .navLink:hover {
    color: var(--primaryColor);
    padding: 0 0.1rem 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .navbarBtn {
    margin-left: 1rem;
  }

  .navbarBtnA {
    color: var(--whiteColor);
    font-weight: 500;
  }
}

@media screen and (min-width: 960px) {
  .navLink {
    padding: 0 0.7rem 0.45rem;
  }
}

@media screen and (min-width: 1240px) {
  .navLink {
    padding: 0 1.1rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .navLink:hover {
    padding: 0 1.1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primaryColor);
  }
}
